:root{
    --green-main: #1b5e20;
    --green-dark: #003300;
    --green-light: #4c8c4a;
    --bg-main: #efebe9;
    --bg-beige: #e5e0be;
    --txt-main: #efefef;
    --txt-dark: #111;
    --accent-main: #ab47bc;
}