@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap&family=Abril+Fatface&family=Fjalla+One&family=Montserrat&display=swap');

:root{
    --green-main: #1b5e20;
    --green-dark: #003300;
    --green-light: #4c8c4a;
    --bg-main: #efebe9;
    --bg-beige: #e5e0be;
    --bg-sunset: #ecdba2;
    --txt-light: #efefef;
    --txt-dark: #111;
    --txt-cute: #f759d4;
    --accent: #ab47bc;
    --accent-mint: #3deec8;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-main);
    color: var(--txt-dark);
    font-size: 16px;
}

.page-title{
    margin: 1% auto;
    width: 98%;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--bg-sunset);
    color: var(--txt-light)
}

.page-content-container{
    width: 98%;
    margin: 0 auto;
}

/* Header Styles */
header{
    background-color: var(--bg-sunset);
}

.banner__container{
    padding: 2%;
    display: flex;
    justify-items: flex-end;
}

.banner__inner{
    background-color: var(--bg-main);
    color: var(--txt-dark);
    width: 60%;
    margin: auto;
    padding: 2%;
    border: 2px solid var(--txt-dark);
}

/* Navbar styles */ 
header .navbar a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 2px 2px #fff;
    color: var(--txt-dark);
}

.navbar-custom .navbar-brand{
    font-family: 'Dancing script', cursive;
    font-size: 3em;
    font-weight: 700;
    color: rgb(216, 62, 170);
    margin-left: 5%;
}

.navbar-collapse{
    justify-content: flex-end;
    margin-right: 5%;
    margin-left: auto;
}

/* index.html */

/* Recipes.html */
.recipe-thumbnail{
    margin: 1%;
    padding: 2%;
    text-align: center;
    background-color: #fff;
    border: 2px solid var(--accent-main);
    border-radius: 3px;
}

.recipe-thumbnail img{
    width: 90%;
    height: 200px;
    margin: 2%;
    object-fit: cover;
}

.recipe-owner{
    text-align: left;
    margin-left: 1em;
}

.recipe-thumbnail__metadata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.recipe-thumbnail__metadata p{
    color: #fff;
    font-weight: 700;
}

/* add-recipe */

#add_recipe-form{
    margin: 1% auto;
    padding: 1%;
}

#add_recipe-form h4{
    margin: 2% auto;
}

#add_recipe-form label{
    display: block;
    margin: 1% auto;
}

#add_recipe-form input, #add_recipe-form textarea{
    width: 100%;
}

#ingredientsContainer{
    display: flex;
    flex-direction: column;
}

.ingredient-n{
    margin: 1% 0; 
    padding: 0% 2% 2% 2%;
    border: 1px solid #555;
    border-radius: 5px;
    
}

.button-container{
    text-align: center;
}

#add_recipe-form button{
    margin: 1% auto;
    width: 50%;
}

/* sign_up.html */

#sign-up-container, #sign-in-container{
    width: 75%;
    margin: 2% auto;
}

#sign-up-container form, #sign-in-container form{
    margin: 0 2% 2% 2%;
}

.form-heading{
    text-align: center;
    padding: 2% 0px;
    margin-bottom: 2%;
    Text-transform: uppercase;
    color: var(--txt-light);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 2px 2px var(--txt-dark);
    background-color: var(--accent-mint);
}


#sign-up-form button, #sign-in-form button{ 
    background-color: var(--accent-mint);
    Text-transform: uppercase;
    color: var(--txt-light);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4em;
    text-shadow: 2px 2px var(--txt-dark);
}

#sign-up-form button:hover, #sign-in-form button:hover{
    background-color: #f759d4;
}

/* Footer Styles */
footer{
    background-color: var(--bg-sunset);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--txt-dark);
    text-shadow: 2px 2px #fff;
    text-align: center; 
    margin: 5% auto;
    padding: 5%;
}

.footer__social-icons{
    font-size: 3em;
    margin-top: 1em;
}

.footer__social-icons i{
    margin: 2%;
}

.footer__social-heading{
    border-bottom: 2px solid var(--txt-cute);
    padding-bottom: 0.5%;
    width: 30%;
    margin: 0 auto;
}