{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex align-items-start m-5">
  <div class="nav flex-column nav-pills me-3 border-right-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-account-details-tab" data-bs-toggle="pill" data-bs-target="#v-pills-account-details" type="button" role="tab" aria-controls="v-pills-account-details" aria-selected="true">Account Details</button>
    <button class="nav-link" id="v-pills-recipes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-recipes" type="button" role="tab" aria-controls="v-pills-recipes" aria-selected="false">My Recipes</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-account-details" role="tabpanel" aria-labelledby="v-pills-account-details-tab"><div class="container">
            <h4>Account Details</h4>
            <form action="#" method="POST" class="row g-3" id="account-update-form">
                <div class="col-md-6">
                    <label for="fname-update" class="form-label">First name</label>
                    <input type="text" class="form-control" id="fname-update" name="fname-update" value="{{ user.first_name }}" required disabled>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="lname-update" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lname-update" name="lname-update" value="{{ user.last_name }}" required disabled>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12">
                    <label for="username-update" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="username-update" name="username-update"
                            aria-describedby="username-updateFeedback" value="{{ user.username }}" required disabled>
                        <div id="username-updateFeedback" class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="email-sign-up" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <input type="email" class="form-control" id="email-update" name="email-update"
                            aria-describedby="email-sign-upFeedback" value="{{ user.email_address }}" required disabled>
                        <div id="email-sign-upFeedback" class="invalid-feedback">
                            Please enter a valid email.
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center py-3">
                    <button class="btn btn-warning w-50 d-none" type="submit">Update Account Details</button>
                </div>
            </form>
            <div>
                <p class="btn btn-warning" id="editDetails">Edit Details</p>
            </div>
        </div></div>
    <div class="tab-pane fade" id="v-pills-recipes" role="tabpanel" aria-labelledby="v-pills-recipes-tab"><div class="container account-recipe__container">
            <div class="account-container__heading"><h4>Your Recipes</h4></div>
            <!-- Submitted recipes -->
            {% for recipe in user_recipes %}
            {% if recipe.created_by == username %}
            <div class="account-recipe">
                <a href="#" class="text-red">{{ recipe.title }}</a>
                <p><img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="thumbnail-img"></p> 
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="btn btn-success">Edit Recipe</a> 
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>
            </div>
            {% else %}
            <div>
                <p>You haven't added any recipes, <a href="">add recipe here</a></p>
            </div>
              
            {% endif %}
            {% endfor %}
        </div></div>
  </div>
</div>
            
   

{% endblock %}