{% extends "base.html" %}

{% block content %}
<!-- Account menu -->
<div class="container-fluid page-content-container account-page mx-auto my-5">
   
    <!-- Account content area-->
   

        <!-- Account Details Area -->
            <div class="container-fluid account-container" id="account-preferences">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>Account Details</h4>
                    </div>
                </div>
                
                <form action="{{url_for('update_user', user_id=user._id)}}" method="POST" class="row g-3" id="account-update-form">
                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" value="{{ user.username }}" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="fname-update" class="form-label">First name</label>
                        <input type="text" class="form-control" id="fname-update" name="fname-update"
                            value="{{ user.first_name }}" required disabled>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="lname-update" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lname-update" name="lname-update"
                            value="{{ user.last_name }}" required disabled>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="email-sign-up" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <input type="email" class="form-control" id="email-update" name="email-update"
                                aria-describedby="email-sign-upFeedback" value="{{ user.email_address }}" required
                                disabled>
                            <div id="email-sign-upFeedback" class="invalid-feedback">
                                Please enter a valid email.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center py-3">
                        <button class="btn btn-success w-50 w-md-25 d-none" id="update_account_button" type="submit">Update Account Details</button>
                        <button class="btn btn-danger w-50 w-md-25 d-none" id="cancel_update_button" type="reset">Cancel</button>
                    </div>
                </form>
                <div>
                    <span class="d-block btn btn-custom pink-dark w-50 w-md-25" id="editDetails">Edit Details</span>
                </div>
            </div>
       

        <!-- User Recipes Area -->
        
            <div class="container account-container" id="account-recipes">
                <!-- Submitted recipes -->
                <div class="row">
                    {% if session['user'] == "admin" %}
                    <div class="col-12 text-center">
                        <h4>Recipes</h4>
                    </div>
                    <div class="col-12">
                        <h4>Total recipes: {{recipes | length}}</h4>
                    </div>
                </div>
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="account-recipe">
                            <h5 class="recipe-thumbnail__title"><a
                                href="{{ url_for('recipe', recipe=recipe.title) }}">{{ recipe.title | capitalize }}</a></h5>
                            <div><img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="thumbnail-img"></div>
                            <p class="recipe-intro">{{ recipe.intro }}</p>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="btn btn-success">Edit Recipe</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-12 text-center">
                        <h4>Your Recipes</h4>
                        <h4>You have {{user_recipes | length}} recipes</h4>
                    </div>
                    <!-- If user has recipes list user_recipes -->
                    {% if user_recipes | length > 0 %}
                    {% for recipe in user_recipes %}
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="account-recipe">
                            <h5 class="recipe-thumbnail__title"><a
                                href="{{ url_for('recipe', recipe=recipe.title) }}">{{ recipe.title | capitalize }}</a></h5>
                            <div><img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="thumbnail-img"></div>
                            <p class="recipe-intro">{{ recipe.intro }}</p>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="btn btn-success">Edit Recipe</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>
                        </div>
                    </div>
                    {% endfor %}
                    <div>
                        <a href="{{ url_for('add_recipe') }}" class="btn btn-custom pink-dark w-50 w-md-25">Add New Recipe</a>
                    </div>
                    <!-- List no recipes + link to add recipe -->
                    {% else %}
                    <div>
                        <p>
                            You haven't added any recipes, <a href="{{ url_for('add_recipe') }}">add your first recipe here</a>
                        </p>
                    </div>
                {% endif %}
                {% endif %}
                </div>
            </div>
        
        <!-- Change Password Area -->
            <div class="container account-container" id="account-password">
                <h4>Change Password</h4>
                <form action="" id="change-password-form" class="row g-3">
                    <div class="col-12 col-md-6">
                        <label for="existing_password" class="form-label">Current Password</label>
                        <input type="password" name="existing_password" class="form-control" id="existing_password"
                        placeholder="Enter Current Password">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="existing_password" class="form-label">Confirm Current Password</label>
                        <input type="password" name="confirm_existing_password" class="form-control" id="confirm_existing_password"
                        placeholder="Confirm Current Password">
                    </div>
                    <hr>
                    <div class="col-12 col-md-6">
                        <label for="confirm_new_password" class="form-label">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="new_password" placeholder="Enter New Password">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                        <input type="password" name="confirm_new_password" class="form-control" id="confirm_new_password"
                        placeholder="Confirm New Password">
                    </div>
                    <hr>
                    <div class="col-12">
                        <button type="submit" class="d-block btn btn-custom pink-dark w-50 w-md-25">Update Password</button>
                    </div>
                </form>
            </div>
        

        <!-- Change Password Area -->
        
            <div class="container account-container" id="account-categories">
                <div class="row">
                    <div class="col-12">
                        <h4>Edit Categories</h4>
                    </div>
                </div>
                {% for category in categories %}
                <div class="row">
                    <form action="{{ url_for('edit_category') }}" method="POST" class="col-8">
                        <div class="w-75">
                            <input type="text" name="{{category.name}}" class="form-control" value="{{category.name}}">
                            <span class="w-25 text-center">
                                <button type="submit" class="btn btn-primary" id="btn-{{ loop.index }}">Rename</button>
                            </span>
                        </div>
                    </form>
                <form action="#" method="POST" class="col-4">
                        <div class="d-none">
                            <input type="text" name="{{category.name}}" class="form-control" value="{{category.name}}">
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                </form>
                </div>
                
                {% endfor %}
                

                <div class="row mt-5">
                    <div class="col-12">
                        <h4>Add Categories</h4>
                    </div>  
                </div>
                <form action="{{ url_for('add_category') }}" method="POST" id="add-category-form" class="row">
                    <div class="col-12" id="add-category-parent"></div>
                    <div>
                        <label for="new-category" class="form-label">new-category</label>
                    <input type="text" name="new-category" class="new-category-input  form-control" id="add-category" required>
                    </div>
                    <div class="col-12 my-2 mx-auto">
                        <button type="submit" class="btn btn-custom w-50 w-md-25 mint-dark">Add Category</button>
                    </div>
                </form>
            </div>
    </div>
</div>
            
   

{% endblock %}