{% extends "base.html" %}

{% block content %}
<div class="container my-5 mx-auto">

    <h2>Add Your Recipe</h2>
    <hr>

    <form action="/add_recipe" method="POST" enctype="multipart/form-data" id="add_recipe-form">
        <div>
            <label for="title" class="form-label"><h3>1: Add Recipe Title</h3></label>
            <input type="text" name="title" id="title" placeholder="Enter Recipe Title">
        </div>
        <div>
            <label for="intro" class="form-label"><h3>2: Add Recipe Description</h3></label>
            <textarea name="intro" id="intro" cols="auto" rows="5" placeholder="Enter Brief Description"></textarea>
        </div>
        <div class="form-section__heading">
            <h3>3: Add Recipe Ingredients</h3>
        </div>

        <div id="ingredientsContainer">

            <div class="ingredient-n row">
                <div class="col">
                    <label for="ingredient-1" class="form-label">Ingredient</label>
                    <input type="text" name="ingredient-1">
                </div>
                <div class="col">
                    <label for="ingredient-quantity-1" class="form-label">Weight</label>
                    <input type="text" name="ingredient-quantity-1" placeholder="Optional">
                </div>
            </div>
            <div class="ingredient-n row">
                <div class="col">
                    <label for="ingredient-2">Ingredient</label>
                    <input type="text" name="ingredient-2">
                </div>
                <div class="col">
                    <label for="ingredient-quantity-2">Weight</label>
                    <input type="text" name="ingredient-quantity-2" placeholder="Optional">
                </div>
            </div>
            <div class="ingredient-n row">
                <div class="col">
                    <label for="ingredient-3">Ingredient</label>
                    <input type="text" name="ingredient-3">
                </div>
                <div class="col">
                    <label for="ingredient-quantity-3">Weight</label>
                    <input type="text" name="ingredient-quantity-3" placeholder="Optional">
                </div>
            </div>
            <div class="ingredient-n row">
                <div class="col">
                    <label for="ingredient-4">Ingredient</label>
                    <input type="text" name="ingredient-4">
                </div>
                <div class="col">
                    <label for="ingredient-quantity-4">Weight</label>
                    <input type="text" name="ingredient-quantity-4" placeholder="Optional">
                </div>
            </div>
            <div class="ingredient-n row">
                <div class="col">
                    <label for="ingredient-5">Ingredient</label>
                    <input type="text" name="ingredient-5">
                </div>
                <div class="col">
                    <label for="ingredient-quantity-5">Weight</label>
                    <input type="text" name="ingredient-quantity-5" placeholder="Optional">
                </div>
            </div>
            <div class="button-container">
                <button type="button" class="btn" id="addIngredientsButton">
                    Add more ingredients
                </button>
            </div>
        </div>

        <div class="form-section__heading">
            <h3>4: Add Cooking Instructions</h3>
        </div>
        <div id="instructionsContainer">
            <div class="instruction-n">
                <label for="step-1" class="instructions-n__label">Step 1:</label>
                <textarea name="step-1" id="step-1" cols="50" rows="1"></textarea>
            </div>
            <div class="instruction-n">
                <label for="step-2" class="instructions-n__label">Step 2:</label>
                <textarea name="step-2" id="step-2" cols="50" rows="1"></textarea>
            </div>
            <div class="instruction-n">
                <label for="step-3" class="instructions-n__label">Step 3:</label>
                <textarea name="step-3" id="step-3" cols="50" rows="1"></textarea>
            </div>
            <div class="instruction-n">
                <label for="step-4" class="instructions-n__label">Step 4:</label>
                <textarea name="step-4" id="step-4" cols="50" rows="1"></textarea>
            </div>
            <div class="instruction-n">
                <label for="step-5" class="instructions-n__label">Step 5:</label>
                <textarea name="step-5" id="step-5" cols="50" rows="1"></textarea>
            </div>
            <div class="button-container">
                <button type="button" class="btn" id="addInstructionButton">
                    Add more instructions
                </button>
            </div>
        </div>



    </form>


</div>

{% endblock %}

