<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cooking With Katie</title>
</head>

<body>
    <header>
        <!-- Ad Banner - Header -->
        <div class="banner__container">
            <div class="flex-empty">
            </div>
            <div class="banner__inner text-center">
                <div>
                    <p>Knives - Sale Now On!</p>
                    <img src="https://images.unsplash.com/photo-1604543248368-da42b20dce5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=957&q=80"
                        alt="">
                </div>
            </div>
            <div class="login-area d-none d-lg-block">
                {% if session.user %}
                <div class="account__mini">
                    <a href="{{ url_for('account', username=session['user']) }}"><i class="fas fa-user-alt"></i> My Account</a>
                    | <a href="{{ url_for('logout')}}">Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
                {% else %}
                <div class="login__mini">
                    <a href="{{ url_for('sign_up') }}">Sign Up <i class="fas fa-edit"></i></a> | <a
                        href="{{ url_for('sign_in') }}">Sign In <i class="fas fa-user-alt"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
            
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">Cooking With Katie</a>
                <a class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span><i class="fas fa-bars"></i></span>
                </a>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav">
                        {% if session.user %}
                        <li class="nav-item d-inline d-lg-none">
                            <a href="{{ url_for('account', username=session['user']) }}" class="nav-link">My Account <i class="fas fa-user-alt"></i></a>
                        </li>
                        <li class="nav-item d-inline d-lg-none">
                            <a href="{{ url_for('logout')}}" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for('sign_up') }}" class="nav-link">Sign Up <i class="fas fa-edit"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In <i class="fas fa-user-alt"></i></a>
                        </li> 
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('recipes') }}">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4">
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
            </div>
            <div class="col-6 col-md-4">
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
            </div>
            <div class="col-12 col-md-4">
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
                <p>placeholder footer item 1</p>
            </div>
            <div class="col-12 footer__social-icons">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-youtube-square"></i>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
</body>

</html>