{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-5">
    <div class="page-content-container add-recipe__container">
        <div class="diagonal-split">
            <div class="content">
                <h3>Edit your Recipe</h3>
            </div>
        </div>
<form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST" enctype="multipart/form-data" id="edit-recipe-form">
    <!-- Prevent implicit submission of the form -->
    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
    <div>
        <h3>
            <label for="edit-recipe-title" class="form-label">
            1: Edit Recipe Title
            </label>
        </h3>
        <input type="text" name="title" class="title" id="edit-recipe-title" value="{{ recipe.title }}">
    </div>
    <div>
        <h3>
            <label for="edit-recipe-intro" class="form-label">
            2: Edit Recipe Description
            </label>
        </h3>
        <textarea name="intro" class="intro" rows="5" id="edit-recipe-intro"
            placeholder="Enter Brief Description">{{ recipe.intro }}</textarea>
    </div>
    <div class="form-section__heading">
        <h3>3: Edit Recipe Ingredients</h3>
    </div>

    <div class="ingredients-container">
        {% if recipe.ingredients | length > 0 %}
        {% for ingredient in recipe.ingredients %}
        <div class="ingredient-n row">
            <div class="col-12 delete-row">
                    <span class="delete-button" id="edit-ingredient-delete-button-{{loop.index}}">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                <span class="reorder-button my-handle"><i class="fas fa-arrows-alt"></i></span>
            </div>
            <div class="col-12 col-md-4">
                <label for="edit-recipe-ingredient-{{ loop.index }}" class="form-label">Ingredient</label>
                <input type="text" name="ingredient-{{ loop.index }}" value="{{ ingredient.name }}" id="edit-recipe-ingredient-{{ loop.index }}">
            </div>
            <div class="col-6 col-md-4">
                <label for="edit-quantity-{{ loop.index }}" class="form-label">Quantity</label>
                <input type="text" name="quantity-{{ loop.index }}" id="edit-quantity-{{ loop.index }}" value="{{ ingredient.quantity }}">
            </div>
            <div class="col-6 col-md-4">
                <label for="edit-unit-{{ loop.index }}" class="form-label">Unit</label>
                <select name="unit-{{ loop.index }}" id="edit-unit-{{ loop.index }}">
                    {% for unit in unit_options %}
                        {% if ingredient.unit == unit.unit_name or ingredient.unit == unit.unit_symbol %}
                          {% if ingredient.unit == "na" or ingredient.unit == "none" %}
                            <option value="na" selected>Optional</option>
                          {% else %}
                            <option value="{{ unit.unit_name }}" selected>{{ unit.unit_name }}</option>
                          {% endif %}
                        {% else %}
                            <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                        {% endif %}  
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="ingredient-n row">
            <div class="col-12 delete-row">
                    <span class="delete-button" id="edit-ingredient-delete-button-1">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                <span class="reorder-button my-handle"><i class="fas fa-arrows-alt"></i></span>
            </div>
            <div class="col-12 col-md-4">
                <label for="edit-ingredient-1" class="form-label">Ingredient</label>
                <input type="text" name="edit-ingredient-1">
            </div>
            <div class="col-6 col-md-4">
                <label for="edit-quantity-1" class="form-label">Quantity</label>
                <input type="text" name="quantity-1">
            </div>
            <div class="col-6 col-md-4">
                <label for="edit-unit-1" class="form-label">Unit</label>
                <select name="unit-1" id="edit-unit-1">
                    {% for unit in unit_options %}
                
                            <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                          
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        <div class="button-container">
            <p class="btn" id="edit-ingredients-button">
                Add more ingredients
            </p>
        </div>
    </div>

    <div class="form-section__heading">
        <h3>4: Edit Cooking Instructions</h3>
    </div>
    <div class="instructions-container">
        {% if recipe.instructions | length < 1 %}
        <div class="instruction-n">
            <div class="delete-row">
                <span class="delete-button" id="edit-instruction-delete-button-1">
                    <i class="fas fa-trash-alt"></i>
                </span>
                <span class="reorder-button my-handle"><i class="fas fa-arrows-alt"></i></span>
            </div>
            <div class="instruction-area">
                <label for="edit-recipe-instruction-1" class="instructions-n__label">Step 1:</label>
                <textarea name="step-1" cols="50" id="edit-recipe-instruction-1"></textarea>
            </div>
        </div>

        {% else %}
        {% for instruction in recipe.instructions %}
        <div class="instruction-n">
            <div class="delete-row">
                <span class="delete-button" id="edit-instruction-delete-button-{{loop.index}}">
                    <i class="fas fa-trash-alt"></i>
                </span>
                <span class="reorder-button my-handle"><i class="fas fa-arrows-alt"></i></span>
            </div>
            <div class="instruction-area">
                <label for="edit-recipe-instruction-{{ loop.index }}" class="instructions-n__label">Step {{ loop.index | int }}:</label>
                <textarea name="step-{{ loop.index }}" cols="50" id="edit-recipe-instruction-{{ loop.index }}">{{ instruction }}</textarea>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="button-container">
            <p class="btn" id="edit-instructions-button">
                Add more instructions
            </p>
        </div>
    </div>
    <div class="form-section__heading">
        <h3>5: Edit Additional Information</h3>
    </div>
    <div class="additional-container">
        <div>
            <label for="edit-prep-time">Prep Time (Mins)</label>
            <input type="number" name="prep-time" id="edit-prep-time" value="{{ recipe.prep_time }}">
        </div>
        <div>
            <label for="edit-cook-time">Cook Time (Mins)</label>
            <input type="number" name="cook-time" id="edit-cook-time" value="{{ recipe.cook_time }}">
        </div>
        <div>
            <label for="edit-category">Select Category</label>
            <select name="category" id="edit-category">
                {% for category in categories %}
                {% if recipe.category == category.name %}
                <option value="{{ recipe.category }}" selected>{{ recipe.category | capitalize }}</option>
                {% else %}
                <option value="{{ category.name }}">{{ category.name | capitalize}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="edit-cuisine">Select Cuisine</label>
            <select name="cuisine" id="edit-cuisine">
                {% for genre in cuisine_options %}
                {% if recipe.cuisine == genre.cuisine %}
                <option value="{{ recipe.cuisine }}" selected>{{ recipe.cuisine | capitalize }}</option>
                {% else %}
                <option value="{{ genre.cuisine }}">{{ genre.cuisine | capitalize }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-section__heading">
        <h3>6: Edit Images</h3>
    </div>
    <div class="d-block mx-auto text-center">
        <div>
            <img src="{{ recipe.image }}" alt="existing image" class="img-preview">
        </div>
        <div class="upload-image my-3">
                <label for="edit-image-upload">Upload Image</label>
                <input type="file" name="file" id="edit-image-upload">
            </div>
        </div>
    <div class="button-container mt-5">
        <button type="submit" class="btn" id="edit-recipe__submit-button">
            <i class="fas fa-paper-plane"></i> Update Recipe
        </button>
    </div>
</form>
<div class="diagonal-split-reverse"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
{% endblock %}