{% extends "base.html" %}
{% block content %}
<!-- Hero Banner Section -->
<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12 col-md-7 hero-main">
            <img src="static/img/pexels-andrea-piacquadio-3769999.jpg" class="hero-main__img" alt="...">
            <div class="hero-caption d-none d-md-block">
                <h5 class="logo mt-5 mb-3">Cooking with Katie</h5>
                <p>Cooking with Katie is an online recipe sharing platform.</p>
                <p>Our mission is to connect food lovers from around globe by providing a platform to learn and share
                    recipes with like-minded foodies from around the world</p>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-md-12 hero-split">
                        <img src="static/img/chelsea-shapouri-iNqQyOw8mx0-unsplash.jpg" class="hero-split__img"
                            alt="...">
                        <div class="hero-caption d-none d-md-block">
                            <h3>New Recipes Daily</h3>
                            <p>Learn exciting new recipes from our team of amazing chefs and staff writers</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 hero-split">
                        <img src="https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            class="hero-split__img" alt="...">
                        <div class="hero-caption d-none d-md-block">
                            <h3>Learn new skills and techniques</h3>
                            <p>In our weekly tutorials</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured recipes -->
<div class="container-fluid page-content-container my-5">
    <div class="row">
        <div class="col-12 page-section__heading-alt">Featured Recipes</div>
        {% for recipe in recipes %}
        <div class="col-6 col-md-4 top-recipes" id="thumbnail-{{ recipe._id }}">
            <div>
                <a href="{{ url_for('recipe', recipe=recipe.title) }}">
                    <div>
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipe-thumnail-overlay">
                        <h4>
                            <span class="recipe-thumnail__title">{{ recipe.title }}</span>
                            <span class="btn btn-border d-none recipe-thumnail__view">
                                <p>View Recipe</p>
                            </span>
                        </h4>
                        
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- About Section -->
<div class="container-fluid page-content-container">
    <div class="row">
        <div class="col-12 page-section__heading">
            <h3>About Katie</h3>
        </div>
        <div class="col-md-6 half-container txt-half left">
            <div class="txt-half__inner">
                <p>I'm Katie, an absolute food nut who's worked in the food and hospitality business for my entire
                    career.</p>
                <p>From humble beginings working as a waitress in a local café, to owning my chain of restaurants,
                    to writing my first cook book, my entire life has revolved around food.</p>
                <p>In the rare moments when I'm not cooking, travel is my other passion and I've been lucky enough
                    to travel to many countries all over the world and to experience the many wonderful people,
                    cultures and, of course, foods.</p>
                <p>During my travels, seeing how food can bring people together across cultural and language
                    barriers, amongst peace and conflict eventually inspired me to launch <span class="logo">Cooking
                        With Katie</span>.</p>
                <p>Our mission is to create a global platform to bring people together through a shared love of all
                    things food.</p>
            </div>
        </div>

        <div class="col-md-6 half-container right">
            <img src="https://images.pexels.com/photos/3771120/pexels-photo-3771120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="katie headshot" class="w-100">
        </div>
    </div>
</div>

<!-- Featured Ingredient Section -->
<div class="container-fluid page-content-container mt-5">
    <div class="row">
        <div class="col-12 page-section__heading">
            <h3>Featured Ingredient | Month</h3>
        </div>
        <div class="col-md-6 half-container left">
            <div class="half__inner">
                <img src="static/img/stephanie-studer-ReXxkS1m1H0-unsplash.jpg" alt="featured ingredient" class="w-100">
            </div>
        </div>
        <div class="col-md-6 half-container txt-half right">
            <div class="txt-half__inner">
                <p>Each month we highlight an amazing seasonal ingredient for you to use in your recipes.</p>
                <p>Submit your recipe which celebrates our chosen ingredient and you could win great prizes if your
                    recipe comes out on top.</p>
                <h4>This months featured ingredient is <span class="featured-ingredient">Asparagus</span></h4>

            </div>
        </div>

    </div>
</div>

<!-- Subscribe bar -->
<div class="container-fluid">
    <div class="subscribe-index-container">
        <h3>Subscribe</h3>
        <p>Sign-up to our newsletter to be the first to hear about new recipes, events and partner offers!</p>
        <form action="" method="POST" id="subscribe-index">
            <input type="email" name="subscribe" placeholder="Enter your email address">
            <button type="submit" class="btn btn-subscribe">Subscribe <i class="far fa-paper-plane"></i></button>
        </form>
    </div>
</div>

{% endblock %}