{% extends "base.html" %}
{% block content %}
<!-- Hero Banner Section -->
<div class="container-fluid hero-container d-none d-md-block">
    <div class="row">
        <div class="col-12 col-md-7 hero-main">
            <img src="static/img/pexels-andrea-piacquadio-3769999.jpg" class="hero-main__img d-block" alt="...">
            <div class="hero-caption">
                <h5 class="logo mt-5 mb-3 text-white">Our Mission</h5>
                <p>Cooking with Katie is an online recipe sharing platform.</p>
                <p class="d-none d-md-inline">Our mission is to connect like-minded food lovers from around the world by providing a platform to learn and
                    share recipes.</p>
            </div>
        </div>
        <div class="col-12 col-md-5 p-0 d-none d-md-block">
            <div class="col-6 col-md-12 hero-split top">
                <img src="static/img/chelsea-shapouri-iNqQyOw8mx0-unsplash.jpg" class="hero-split__img d-block"
                    alt="...">
                <div class="hero-caption">
                    <h3 class="logo text-white">New Recipes Daily</h3>
                    <p>Learn exciting new recipes from our team of amazing chefs and staff writers</p>
                </div>
            </div>
            <div class="col-6 col-md-12 hero-split bottom">
                <img src="https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    class="hero-split__img d-block" alt="...">
                <div class="hero-caption">
                    <h3 class="logo text-white">Weekly Tutorials</h3>
                    <p>Learn new skills & techniques</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hero banner mobile -->

<div id="carouselExampleCaptions" class="carousel slide d-block d-md-none mt-2" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active hero-main">
            <img src="static/img/pexels-andrea-piacquadio-3769999.jpg" class="d-block w-100" alt="...">
            <div class="hero-caption">
                <h5 class="logo text-white">Cooking with Katie</h5>
                <p>Cooking with Katie is an online recipe sharing platform.</p>
                <p class="d-none d-md-inline">Our mission is to connect food lovers by providing a platform to learn and
                    share
                    recipes with like-minded foodies from around the world</p>
            </div>
        </div>
        <div class="carousel-item hero-main">
            <img src="static/img/chelsea-shapouri-iNqQyOw8mx0-unsplash.jpg" class="d-block w-100" alt="...">
            <div class="hero-caption">
                <h3 class="logo text-white">New Recipes Daily</h3>
                <p>Learn exciting new recipes from our team of amazing chefs and staff writers</p>
            </div>
        </div>
        <div class="carousel-item hero-main">
            <img src="https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                class="d-block w-100" alt="...">
            <div class="hero-caption">
                <h3 class="logo text-white">Weekly Tutorials</h3>
                <p>Learn new skills & techniques</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Featured recipes -->
<div class="container-fluid page-content-container index-container my-5">
    <div class="row">
        <div class="col-12 page-section-heading-alt brand">Featured Recipes</div>
        {% for recipe in recipes %}
        {% if loop.index <= 3 %}
        <div class="col-12 col-md-4 top-recipes" id="thumbnail-{{ recipe._id }}">
            <div>
                <a href="{{ url_for('recipe', recipe=recipe.title) }}">
                    <div>
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipe-thumnail-overlay">
                        <h4>
                            <span class="recipe-thumnail__title">{{ recipe.title }}</span>
                            <span class="btn btn-border d-none recipe-thumnail__view">
                                <p>View Recipe</p>
                            </span>
                        </h4>

                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- About Section -->
<div class="container-fluid page-content-container index-container">
    <div class="row">
        <div class="col-12 order-first page-section-heading off-white">
            <h3>About Katie</h3>
        </div>
        <div class="col-md-6 order-3 half-container txt-half left">
            <div class="txt-half__inner">
                <p>I'm Katie, an absolute food nut who's worked in the food and hospitality business for my entire
                    career.</p>
                <p>From humble beginings working as a waitress in a local café, to owning my chain of restaurants,
                    to writing my first cook book, my entire life has revolved around food.</p>
                <p>In the rare moments when I'm not cooking, travel is my other passion and I've been lucky enough
                    to travel to many countries all over the world and to experience the many wonderful people,
                    cultures and, of course, foods.</p>
                <p>During my travels, seeing how food can bring people together across cultural and language
                    barriers, amongst peace and conflict eventually inspired me to launch <span class="logo-small">Cooking
                        With Katie</span>.</p>
                <p>Our mission is to create a global platform to bring people together through a shared love of all
                    things food.</p>
            </div>
        </div>

        <div class="col-md-6 order-2 order-md-3 half-container right">
            <div class="half__inner">
                <img src="https://images.pexels.com/photos/3771120/pexels-photo-3771120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="katie headshot" class="w-100">
            </div>
        </div>
    </div>
</div>

<!-- Featured Ingredient Section -->
<div class="container-fluid page-content-container index-container mt-5">
    <div class="row">
        {% for ingredient in ingredients %}
        {% if ingredient.featured %}
        <div class="col-12 page-section-heading off-white">
            <h3>Featured Ingredient | {{ ingredient.name | capitalize}} </h3>
        </div>
        <div class="col-md-6 half-container left">
            <div class="half__inner">
                <img src="{{ ingredient.image }}" alt="featured ingredient" class="w-100">
            </div>
        </div>
        <div class="col-md-6 half-container txt-half right">
            <div class="txt-half__inner">
                <p>Each month we highlight an amazing seasonal ingredient for you to use in your recipes.</p>
                <p>This month's featured ingredient is {{ ingredient.name | capitalize}}.</p>
                <p>Submit your recipe which celebrates {{ ingredient.name | capitalize}} and if your
                    recipe comes out on top, you could win great prizes from our sponsors.</p>
                <a href="{{ url_for('add_recipe') }}" class="d-block btn btn-custom brand w-50 mt-5 mx-auto">Submit Your
                    Recipe <i class="fas fa-carrot"></i></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Subscribe bar -->
<div class="subscribe-index-container page-content-container">
    <div>
        <h3>Subscribe</h3>
        <p>Sign-up to our newsletter to be the first to hear about new recipes, events and partner offers!</p>
        <form action="{{ url_for('new_subscriber') }}" method="POST" id="subscribe-index">
            <input type="email" name="new_subscriber" placeholder="Enter your email address"
                class="d-block d-md-inline">
            <button type="submit" class="btn btn-subscribe">Subscribe <i class="far fa-paper-plane"></i></button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}