{% extends "base.html" %}
{% block content %}
<h2 class="page-title">Recipes</h2>
<div class="container-fluid page-content-container">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-6 col-md-4 col-lg-3 recipe-thumbnail">
                <h4><a href="{{ url_for('recipe', recipe=recipe.title) }}">{{ recipe.title }}</a></h4>
                <div>
                    {% for i in range(recipe.rating | int) %}
                      <span><i class="fas fa-star"></i></span>
                    {% else %}
                      {% for i in range(5) %}
                        <span><i class="far fa-star" style="color: rgba(0,0,0,0.3)"></i></span>
                      {% endfor %}
                    {% endfor %}
                </div>
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <p class="recipe-intro">{{ recipe.intro }}</p>
                <hr>
                <div class="recipe-thumbnail__metadata">
                    <p class="btn btn-warning"><i class="fas fa-mortar-pestle"></i> | {{ recipe.prep_time }}</p>
                    <p class="btn btn-danger"><i class="far fa-clock"></i> | {{ recipe.cook_time }}</p>
                    <p class="btn btn-success"><i class="fas fa-utensils"></i> | {{ recipe.category | capitalize }}</p>
                    <p class="btn btn-info"><i class="fas fa-globe-africa"></i> | {{ recipe.cuisine | capitalize }}</p>
                </div>
                {% if recipe.created_by == "admin" %}
                <p>Recipe by: <span class="logo">Cooking with Katie</span> {{ recipe.date_created }}</p>
                {% else %}
                <p>Recipe by: {{ recipe.created_by }} {{ recipe.date_created }}</p> 
                {% endif %}
                
            </div>
        {% endfor %}
    </div>
</div>
    

{% endblock %}
