{% extends "base.html" %}
{% block content %}
<!-- Search area-->
<div class="container-fluid page-content-container my-5" id="recipes">
    <div class="row p-0">
        <div class="col-12 page-section-heading-alt diagonal-split mb-0">
            <div id="search-area">
                <h3><i class="fas fa-search"></i> Search Recipes</h3>
                <form action="{{ url_for('search_recipes') }}" method="POST" id="search-recipes-form">
                    <div class="input-area">
                        <input type="text" name="search_recipe" id="search_recipe" placeholder=" Search Recipes">
                        <label for="search_recipe" class="d-none"><i class="fas fa-search text-dark"></i> Search Recipes</label>
                    </div>
                    <div class="button-area">
                        <button type="submit" class="btn btn-custom mint-dark">Search</button>
                        <a href="{{ url_for('recipes') }}" class="btn btn-custom brand">Clear</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Recipe Thumbnails -->
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-12 col-sm-6 col-xl-4 recipes-wrapper">
                <div class="recipe-thumbnail mx-2 mx-sm-2 my-5 pt-0 pb-3 p-0 mb-0">
                    <h4 class="recipe-thumbnail__title"><a href="{{ url_for('recipe', recipe=recipe.title) }}">{{ recipe.title | capitalize }}</a></h4>
                <div>
                    <form action="{{ url_for('rating', recipe_id=recipe._id) }}" method="POST" id="rating-form-{{ recipe._id }}" class="rating-form">
                        {% for button in range(5) %}
                          {% if button < recipe.avg_rating | int %}
                            <button name="{{ loop.index }}-{{ recipe._id }}-star" id="{{ loop.index }}-{{ recipe._id }}-star" class="rating-button" type="button"><i class="fas fa-star"></i></button>
                          {% else %}
                            <button name="{{ loop.index }}-{{ recipe._id }}-star" id="{{ loop.index }}-{{ recipe._id }}-star" class="rating-button" type="button"><i class="far fa-star"></i></button>
                          {% endif %}
                        {% endfor %}  ( {{recipe.rating|length}} )
                        <div class="{{ recipe._id }}-button-goes-here"></div>
                    </form>
                    
                </div>
                <a href="{{ url_for('recipe', recipe=recipe.title) }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </a>
                <p class="recipe-intro">{{ recipe.intro }}</p>
                <hr>
                <div class="recipe-thumbnail__metadata">
                    <p class="btn btn-warning"><i class="fas fa-mortar-pestle"></i> | {{ recipe.prep_time }}</p>
                    <p class="btn btn-danger"><i class="far fa-clock"></i> | {{ recipe.cook_time }}</p>
                    <p class="btn btn-success"><i class="fas fa-utensils"></i> | {{ recipe.category | capitalize }}</p>
                    <p class="btn btn-info"><i class="fas fa-globe-africa"></i> | {{ recipe.cuisine | capitalize }}</p>
                </div>
                {% if recipe.created_by == "admin" %}
                <p>Recipe by: <span class="logo-small">Cooking with Katie</span> {{ recipe.date_created }}</p>
                {% else %}
                <p>Recipe by: {{ recipe.created_by }} {{ recipe.date_created }}</p> 
                {% endif %}

                </div>  
            </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
{% endblock %}
