{% extends "base.html" %}
{% block content %}
<div class="container-fluid page-content-container recipe-container my-3 mx-auto">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ recipe.title }}</h2>
            {% if recipe.created_by == "admin" %}
            <p class="text-center">Recipe added by: <span class="logo">Cooking with Katie</span> on
                {{ recipe.date_created }}</p>
            {% else %}
            <p class="text-center">Recipe added by: {{ recipe.created_by }} on {{ recipe.date_created }}</p>
            {% endif %}

            {% if session['user'] %}
            {% if recipe.created_by == session['user'] or session['user'] == "admin" %}
            <div class="text-center">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="btn btn-success">Edit Recipe</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>
            </div>
            {% endif %}
            {% endif %}
            <div>
                <div class="m-4 text-center">
                    <img src="{{ recipe.image }}" alt="{{recipe.title}}" class="recipe-main-img">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center ingredient-section">
            <h3>About:</h3>
             <hr>
             <p>{{ recipe.intro }}</p>
        </div> 
    </div>
    <div class="row">
        <div class="col-12 text-center ingredient-section">
            <h3>Ingredients</h3>
            <hr>
            <ul class="ps-0 ingredient-list">
            {% for ingredient in ingredients %}
            <li class="p-2"><strong>{{ ingredient.name }}</strong>
                {% if ingredient.quantity %}
                - {{ ingredient.quantity }}
                {% if ingredient.unit != "na" %}
                {{ ingredient.unit }}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-12 my-5 text-center ingredient-section">
            <h3>Instructions</h3>
            <hr>
            <table class>
                {% for step in recipe.instructions %}
                <tr>
                    <th class="w-100 p-3 my-2">
                        <strong>Step {{ loop.index}}</strong> 
                    </th>
                </tr>
                <tr>
                    <td class="w-100 my-2">
                        {{ step }}
                    </td>
                </tr>
            {% endfor %}   
            </table>
            
            </ul>
        </div>
        <div class="col-12">
            <div class="m-2">
                    <div class="recipe-thumbnail__metadata d-flex justify-content-center">
                        <p class="btn btn-warning m-2"><i class="fas fa-mortar-pestle"></i> | {{ recipe.prep_time }}</p>
                        <p class="btn btn-danger m-2"><i class="far fa-clock"></i> | {{ recipe.cook_time }}</p>
                        <p class="btn btn-success m-2"><i class="fas fa-utensils"></i> |
                            {{ recipe.category | capitalize }}</p>
                        <p class="btn btn-info m-2"><i class="fas fa-globe-africa"></i> |
                            {{ recipe.cuisine | capitalize }}</p>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
{% endblock %}