{% extends "base.html" %}
{% block content %}
<h2 class="page-title">Recipes</h2>
<div class="container-fluid page-content-container">
    <div class="container-fluid" id="search-area">
        <form action="{{ url_for('search_recipes') }}" method="POST" class="row" id="search-recipes-form">
        <div class="col-12 col-md-7">
            <input type="text" name="search_recipe" id="search_recipe" placeholder="Search Recipes">
            <label for="search_recipe" class="d-none">Search Recipes</label>
        </div>
        <div class="col-12 col-md-5">
            <button type="submit" class="btn btn-success">Search</button>
            <a href="{{ url_for('recipes') }}" class="btn btn-danger">Clear</a>
        </div>
    </form>
    </div>
    
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="recipe-thumbnail mx-auto">
                    <h4><a href="{{ url_for('recipe', recipe=recipe.title) }}">{{ recipe.title | capitalize }}</a></h4>
                <div>
                    <form action="{{ url_for('rating', recipe_id=recipe._id) }}" method="POST" id="rating-form-{{ recipe._id }}">
                        {% for button in range(5) %}
                          {% if button < recipe.avg_rating | int %}
                            <button name="{{ loop.index }}-{{ recipe._id }}-star" id="{{ loop.index }}-{{ recipe._id }}-star" class="rating-button" number="{{ loop.index }}" type="button"><i class="fas fa-star"></i></button>
                          {% else %}
                            <button name="{{ loop.index }}-{{ recipe._id }}-star" id="{{ loop.index }}-{{ recipe._id }}-star" class="rating-button" number="{{ loop.index }}" type="button"><i class="far fa-star"></i></button>
                          {% endif %}
                        {% endfor %}  ( {{recipe.rating|length}} )
                        <div id="button-goes-here"></div>
                    </form>
                    
                </div>
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <p class="recipe-intro">{{ recipe.intro }}</p>
                <hr>
                <div class="recipe-thumbnail__metadata">
                    <p class="btn btn-warning"><i class="fas fa-mortar-pestle"></i> | {{ recipe.prep_time }}</p>
                    <p class="btn btn-danger"><i class="far fa-clock"></i> | {{ recipe.cook_time }}</p>
                    <p class="btn btn-success"><i class="fas fa-utensils"></i> | {{ recipe.category | capitalize }}</p>
                    <p class="btn btn-info"><i class="fas fa-globe-africa"></i> | {{ recipe.cuisine | capitalize }}</p>
                </div>
                {% if recipe.created_by == "admin" %}
                <p>Recipe by: <span class="logo">Cooking with Katie</span> {{ recipe.date_created }}</p>
                {% else %}
                <p>Recipe by: {{ recipe.created_by }} {{ recipe.date_created }}</p> 
                {% endif %}

                </div>  
            </div>
        {% endfor %}
    </div>
</div>
    

{% endblock %}
