{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="sign-up-container">
    <form action="{{ url_for('sign_up') }}" method="POST" class="row" id="sign-up-form">
        <div class="col-12 form-heading">
            <h3>Sign Up</h3>
        </div>
        <div class="col-md-6">
            <label for="fname-sign-up" class="form-label">First name</label>
            <input type="text" class="form-control" id="fname-sign-up" name="fname-sign-up" required>
        </div>
        <div class="col-md-6">
            <label for="lname-sign-up" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lname-sign-up" name="lname-sign-up" required>
        </div>
        <div class="col-md-6">
            <label for="username-sign-up" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-sign-up" name="username-sign-up" required>
        </div>
        <div class="col-md-6">
            <label for="email-sign-up" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-sign-up" name="email-sign-up" required>
        </div>
        <div class="col-md-6">
            <label for="sign-up-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="sign-up-password" name="sign-up-password" required>
        </div>
        <div class="col-md-6">
            <label for="confirm-sign-up-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-sign-up-password" name="confirm-sign-up-password"
                required>
            <span class="validation-message"></span>
        </div>
        <div class="col-12 text-center py-3">
            <button class="btn btn-custom brand w-50" type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}