{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="sign-in-container">
    <form action="{{ url_for('sign_in') }}" method="POST" class="row" id="sign-in-form">
        <div class="col-12 form-heading">
            <h3>Sign In</h3>
        </div>
        <div class="col-md-6">
            <label for="username-sign-in" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-sign-in" name="username-sign-in"
                aria-describedby="username-sign-upFeedback" required>
        </div>
        <div class="col-md-6">
            <label for="password-sign-in" class="form-label">Password</label>

            <input type="password" class="form-control" id="password-sign-in" name="password-sign-in"
                aria-describedby="password-sign-inFeedback" required>
        </div>
        <div class="col-12 text-center py-3">
            <button class="btn btn-custom w-50" type="submit">Sign In</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}